<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/img/icon-title.ico">
    <script src="chart.js/dist/chart.umd.js"></script>
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->

    <title>Genarate Model</title>
</head>

<body>
    <header class="mb-2" id="pnlHeader">
        <span id="txtHeader">
            <%=titleHeader%> VERSION(<%=version%>)
        </span>
    </header>
    <div class="box-shadow4 m-1 mb-2 rounded-2 p-2 d-flex justify-content-center" id="pnlSelect">
        <div class="w-75">

            <div class="d-flex justify-content-center mb-2">




                <div class="input-group me-2" style="width: 33%;">
                    <span for="selDatabaseProvider" class="input-group-text span-layout search-border text-end"
                        style="width: 120px;">Provider</span>
                    <select class="form-select search-border" name="selDatabaseProvider" id="selDatabaseProvider">
                        <option value="mysql" selected>MySQL</option>
                        <option value="mssql">Microsoft SQL Server</option>
                        <option value="postgresql">PostgreSQL</option>
                    </select>
                </div>

                <div class="input-group me-2" style="width: 33%;">
                    <span for="edtHost" class="input-group-text span-layout search-border text-end"
                        style="width: 120px;">Host</span>
                    <input type="text" class="form-control search-border" name="edtHost" value="localhost" id="edtHost" />
                </div>
                <div class="input-group me-2" style="width: 33%;">
                    <span for="edtPort" class="input-group-text span-layout search-border text-end"
                        style="width: 80px;">Port</span>
                    <input type="number" class="form-control search-border" name="edtPort" value=3306 id="edtPort" />
                </div>



            </div>

            <div class="d-flex justify-content-center">

                <div class="input-group me-2" style="width: 33%;">
                    <span for="edtUser" class="input-group-text span-layout search-border text-end"
                        style="width: 120px;">User</span>
                    <input type="text" class="form-control search-border" name="edtUser" value="root" id="edtUser" />
                </div>
                <div class="input-group me-2" style="width: 33%;">
                    <span for="edtPassword" class="input-group-text span-layout search-border text-end"
                        style="width: 120px;">Password</span>
                    <input type="password" class="form-control search-border" name="edtPassword" value="rt9125" id="edtPassword" />
                </div>
                <div class="input-group me-2" style="width: 33%;">


                </div>
            </div>
        </div>


        <div class="btn btn-primary btn-lg d-flex h-100" style="align-self: center;" onclick="connectDB()">
            <h4 style="align-self: center;">Connect</h4>
        </div>


    </div>
    <div class="m-1 mb-2 p-2 d-flex" id="pnlExport">
        <div class="input-group me-1" style="width: 25%;">
            <span for="selProgramming"
                class="input-group-text span-layout search-border text-end">Framework/Programming</span>
            <select class="form-select search-border" name="selProgramming" id="selProgramming">
                <option value="nodejs" selected>Node.js</option>
                <option value="python">Python</option>
                <option value="javascript">JavaScript</option>
            </select>
        </div>
        <div class="btn btn-primary me-2" id="btnExportBaseClass">Base Class</div>
        <div class="btn btn-primary me-2" id="btnExportConnectionDB">Connection DB</div>
        <div class="btn btn-primary me-2" id="btnExportVO_EXE">VO/EXE Class</div>
    </div>
    <div class="box-shadow4 mb-2 m-1 rounded-2 p-2 d-flex justify-content-center" id="pnlContent">
        <div class="tb-content">
            <table id="tbDatabaseList" class="table table-striped table-bordered table-hover w-100">
                <thead class="position-sticky top-0">
                    <tr>
                        <th class="text-center align-middle" rowspan="3">Database</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="ps-3 tb-content">
            <table id="tbTableList" class="table table-striped table-bordered table-hover w-100">
                <thead class="position-sticky top-0">
                    <tr>

                        <th class="text-center align-middle">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="chkSelectAll">
                            </div>
                        </th>
                        <th class="text-center align-middle" rowspan="2">Table</th>
                    </tr>
                   
    

                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
        <div class="ps-3 tb-content">
            <table id="tbTableDesciption" class="table table-striped table-bordered table-hover w-100">
                <thead class="position-sticky top-0">
                    <tr>
                        <th class="text-center align-middle" colspan="4">Field</th>
                        
                    </tr>
                    <tr>
                        <th class="text-center align-middle">Name</th>
                        <th class="text-center align-middle">Type</th>
                        <th class="text-center align-middle">Type Define</th>
                        <th class="text-center align-middle">Size</th>
                    </tr>

                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <footer>
        <span class="me-2" id="txtFooter">
            Developed by <%=developer%>
        </span>
    </footer>

</body>

<script src="js/helper.js"></script>
<script src="js/connect_db.js"></script>
<script src="js/export_file.js"></script>

</html>