<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    <script src="chart.js/dist/chart.umd.js"></script>
    <script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
    
    <title>Document</title>
</head>
<body>
    <h1>Hello EJS Template Engine</h1>
    <h1>data : <%=data%></h1>
    
    <button class="btn btn-primary" onclick="connMysql()">conn mysql</button>
    
</body>

<script src="js/helper.js"></script>
<script src="js/get_mysql.js"></script>


</html>